html {
  height: 100%;
  width: 100%;

  --primary-color: #F6FFFF;
  --primary-background: #D60619;
  --secondary-color: #D2DBED;
  --secondary-background: #234428;
  overflow: hidden;
}

body {
  width: 100%;
  font-family: 'Jost', serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200vw;
  height: calc(min(50vh, 30vw + 12rem));
  position: relative;
  top: -10rem;
  left: -20vw;
  transform: rotate(-5deg);
}

.name-card {
  margin: 0;
  height: calc(100%);
  width: 35%;
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.name-card h1 {
  padding: 0;
  bottom: -1vw;
  left: calc(2rem + 20vw);
  position: absolute;
  margin: 0;
  font-size: calc(min(15rem, 20vw));
  font-weight: normal;
}

.name-card h2 {
  position: absolute;
  left: calc(min(6rem + 20vw, 2rem + 25vw));
  bottom: calc(min(4.75rem, 1vw));
  margin: 0;
  font-size: calc(min(3rem, 4vw));
  font-weight: normal;
  letter-spacing: 2px;
}

.name-card ul {
  position: absolute;
  right: 131vw;
  bottom: calc(min(5rem, 5vw));
  font-size: calc(min(2rem, 1.5vw));
  transform: TranslateY(50%);
}

.nav-card {
  background-color: var(--secondary-background);
  height: calc(100%);
  width: 65%;
  margin: 0;
}

.header-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  bottom: calc(1vw);
  right: 85vw;
}

.header-link {
  color: var(--secondary-color);
  background-color: var(--secondary-background);
  font-size: calc(min(2.5rem, 2.5vw));
  cursor: pointer;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
  text-decoration: none;
  background-clip: border-box;
}

div:has(> .header-link) {
  padding: 0;
  display: table;
}

.header-link:hover {
  color: var(--secondary-background);
  background-color: var(--secondary-color);
}

.link-wrapper:first-child > .header-link {
  text-decoration: none;
}

.link-wrapper:not(:first-child) {
  border-top: #4E624D 2px solid;
}

.link-wrapper:nth-last-child(2) {
  transform: translateX(calc(1*(min(2.5rem, 3vw) + 2rem)*sin(5deg)));
}

.link-wrapper:nth-last-child(3) {
  transform: translateX(calc(2*(min(2.5rem, 3vw) + 2rem)*sin(5deg)));
}

.link-wrapper:nth-last-child(4) {
  transform: translateX(calc(3*(min(2.5rem, 3vw) + 2rem)*sin(5deg)));
}

.navbar {
  position: sticky;
  width: 100%;
  height: 4rem;
  top: calc(min(50vh, 30vw + 12rem));
  background-color: var(--secondary-color);
  color: var(--secondary-background);
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.line {
  padding: 0;
  width: 2px;
  height: 70%;
  background-color: var(--secondary-background);
  margin-top: calc(2rem/3);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.left-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: absolute;
  left: 20vw;
}

@media (orientation: portrait) {
  .name-card ul {
    display: none;
  }
}
