html {
  height: 100%;
  width: 100%;

  --primary-color: #F6FFFF;
  --primary-background: #D60619;
  --secondary-color: #D2DBED;
  --secondary-background: #234428;
}

body {
  font-family: 'Jost', serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: calc(120vw);
  height: calc(30vw + 20vh);
  max-height: 70vh;
  position: absolute;
  top: -10rem;
  left: -10vw;
  transform: rotate(-5deg);
}

.name-card {
  margin: 0;
  height: 100%;
  width: 60%;
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.name-card h1 {
  padding: 0;
  bottom: -1rem;
  left: calc(2rem + 10vw);
  position: absolute;
  margin: 0;
  font-size: calc(min(15rem, 20vw));
  font-weight: normal;
}

.name-card h2 {
  position: absolute;
  left: calc(6rem + 10vw);
  top: 25.5rem;
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.name-card ul {
  position: absolute;
  right: 50vw;
  top: calc(min(35vh, 15vw + 10rem));
  font-size: calc(min(2vw, 2rem));
  transform: TranslateY(-50%);
}

.nav-card {
  background-color: var(--secondary-background);
  height: 100%;
  width: 40%;
  margin: 0;
}
